# Python
__pycache__/
*.pyc

# Virtual env
venv/
env/
sae_frag/

# Dataset
data/
*.zip
*.tar.gz
*.rar
*.csv
*.json
*.png
*.jpg
# Model weights
*.pt
*.pth
*.ckpt

# Logs
*.log

# VS Code
.vscode/
*.env